<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>

<div class="login-container">
    <div class="login-card">
        <div class="login-form rounded-left">
            <h1 class="h4">Bienvenido!</h1>
            <small class="text-muted">Ingresa tus datos correspondientes</small>
            <form class="mt-4">
                <div class="form-group">
                    <label for="email" class="small font-weight-bold">Correo Electronico</label>
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu Correo">
                </div>
                <div class="form-group">
                    <label for="password" class="small font-weight-bold">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="*****">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label small" for="remember">Recuerdame</label>
                    <a href="#" class="float-right small text-primary">Olvidaste tú contraseña?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                <button type="button" class="btn btn-outline-secondary btn-block mt-2">
                    <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="Google" class="mr-2" style="width: 20px;">
                    Ingresa con Google
                </button>
            </form>
            <div class="text-center mt-3">
                <span class="small text-muted">No tienes cuenta?</span>
                <a href="#" class="small text-primary">Registrate</a>
            </div>
        </div>
        <div class="login-banner rounded-right"></div>
    </div>
</div>

</body>
</html>
